header {
  margin: 0px;
}
.box__1 {
  box-sizing: border-box;
  background-image: url(Photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 600px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.header__1 {
  border: 2px solid orange;
  width: 83%;
  display: flex;
  justify-content: space-between;
  height: 18vh;
  align-items: center;
}
.menu__1 ul {
  display: flex;
  justify-content: space-around;
}
.menu__link {
  text-decoration: none;
  color: #e7e9ee;
  font-size: 16px;
  font-family: "Open Sans";
}
.menu__1 li {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 35px;
}
.p__1 {
  color: #e7e9ee;
  font-size: 38px;
  font-family: "Open Sans";
  font-weight: bold;
  text-align: justify;
}
.login__image {
  width: 11px;
  height: 13px;
  background-image: url("man-user.png");
  background-repeat: no-repeat;
}
.login__text {
  color: #e7e9ee;
  font-size: 16px;
  font-family: "Open Sans";
  padding-right: 24%;
}
.login {
  width: 123px;
  height: 37px;
  border: #e7e9ee 1px solid;
  border-radius: 3px;
  background: transparent;
  color: #e7e9ee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main {
  border: 2px solid orange;
  display: flex;
  width: 96%;
  height: 60%;
  justify-content: space-between;
}
h1 {
  color: #e7e9ee;
  font-size: 48px;
  font-family: "Open Sans";
}
.z__1 {
  color: #e7e9ee;
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: bold;
}
.p__1 {
  color: #e7e9ee;
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: normal;
}
.sign__up {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.149);
  position: absolute;
  width: 234px;
  height: 54px;
  z-index: 10;
}
.sign__text {
  font-size: 16px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.arrow__left,
.arrow__right {
  align-self: center;
}
.main__text {
  margin-left: -30%;
}
.icon__responsive {
  padding: 49px;
  margin-left: -20%;
  margin-right: 10%;
}
.slides__1 {
  border: 2px solid orange;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 9%;
  height: 3%;
  opacity: 0.4;
}
main {
  margin: 0px;
}
.box__2 {
  box-sizing: border-box;
  width: 100%;
  height: 275vh;
  min-height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.about__course__h {
  border: 2px solid orange;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-family: "Open Sans";
}

.about__course {
  border: 2px solid orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 83%;
  height: 17%;
}
.m__1,
.m__2,
.m__3,
.m__4 {
  background-color: #e7e9ee;
  border: 2px solid orange;
  height: 235px;
  width: 235px;
  color: #254fad;
  font-size: 48px;
  font-weight: bold;
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h__1,
.h__2,
.h__3,
.h__4 {
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: normal;
}
.another__courses__h {
  border: 2px solid orange;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-family: "Open Sans";
}
.another__courses {
  border: 2px solid orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 83%;
  height: 11%;
}
.course__1,
.course__2,
.course__3,
.course__4 {
  width: 235px;
  height: 135px;
  border: 2px solid orange;
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: bold;
  color: #254fad;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.course__1 {
  background-image: url("logo-1.png");
}
.course__2 {
  background-image: url("logo-2.png");
}
.course__3 {
  background-image: url("logo-3.png");
}
.course__4 {
  background-image: url("logo-4.png");
}
.special__order {
  height: 17%;
  width: 100%;
  color: #ffffff;
  background-color: #e17055;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.special__order__h {
  font-size: 30px;
  font-family: "Open Sans";
}
.two__courses {
  font-size: 48px;
  font-family: "Open Sans";
}
.start__learn {
  width: 300px;
  height: 50px;
  font-family: "Open Sans";
  font-weight: bold;
  border: 2px solid #ffffff;
  border-radius: 10px;
  background: transparent;
  color: #ffffff;
}
.z__5 {
  border: 2px solid orange;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-family: "Open Sans";
}
.reviews {
  border: 2px solid orange;
  height: 26%;
  width: 83%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.photo__png {
  width: 128px;
  height: 128px;
}
.Aaron_element,
.Samantha__element,
.Hannah__element,
.Michael__element {
  border: 2px solid orange;
  margin: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
}
.name {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: bold;
}
.rev__1 {
  font-size: 13px;
  font-family: "Open Sans";
  font-style: italic;
}
.Aaron__container__text,
.Samantha__container__text,
.Hannah__container__text,
.Michael__container__text {
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
